EMAIL_USER=bobplans@sunshine-adventures.net
EMAIL_PASS=HzCXsEafd6PK
EMAIL_HOST=imappro.zoho.eu
EMAIL_PORT=993
FIREBASE_KEY_1="-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDueTPHAhZt+RqzLo01XeKDoYeIDQtfFsiNlqAKL//nHs7Ef+a0YSz4g7krBLOnPu3MLR8lORwPLAg0Vjssl7a2FjJv2rxpNbUSzgEcKxDAysZE5I1gcGHx4SmP1FE8axLIBPfcXwLngV7Ov7A63ZKqWZ62+j/Qq+VUFtjNjuT5KgUwCrz95j4Ze7qAxBfwW+0SXSsaPfS9f0OnSj+1FHmc3A7/TAk/SiPFTVOUMsAPG71li9zyKJjIgaf+5rMbMN/0bGIdyZv1gNU/yJ5g+JcHAz4KZYQILt3Ie7gs/CHFLN2XJTMlo5rgsTUYfZH04I6e7hAHyWxPR9g1HvJwJTm9AgMBAAECggEAEWQ2cfeFgjyuBU5KTw+LQvVHSJVG9IbZVnYbMtMAUy8sfikjvpjtqiwVF32Oyo4s0nyh7lmFYdfgu0xkoWJpGUtyHzUxE20uyPHMI+1CGgVPw1t1sghQJE869DnUONdINd0i5Gf"
FIREBASE_KEY_2="rcs29B8/z/r8FALZrfEWw3LuEjIbkBc27hi41yss/HdNffVTVWDD7bJJkJC/zS4SdC9l87tFP58FHcR5zqDY4f5tSn/6/vX2TrXh3f4/C4dLx0AGLNsbtJVDO0tq6K9EUHPpdLnvrhdw0K+6iP2GLD3W/u4q1Pt+ZtLp3R+suTkpW7oSMvbDR4H6gwD9TvPPvDsgOFgK/xgHE4wKBgQD6fz+28YkdBxJ0TAKUSqMwt0Favufdmy1lvVXtUlPIEeSQLBUGETNSZZSRWGpXMrTrXBNOZJRy7oVQ0A0+nnYaPuf/7fADFuzfdS5k32fukx6t2IDIZgzIVgjsQ80ykPV1IUy7/eVG0giILK7dUi4lNyt0/zF2L0TENu884XAbqwKBgQDztlWsg/ET26BvC7yUkfC5N+L8R4Xx1H4Df4NtgugognueSLW6o7G72gmZHJ6Ya+ncnS5nNQXoCyL5TFrI6jaFIZpKAFO48zo1Uv4rzlWM8PiBaTUh/YUwqvWo++laXTWBj3NGTuO6xSw1yUGzJU7MxQjMq65SshHe"
FIREBASE_KEY_3="SxxAPiXYNwKBgQCy+MelBd1ZB/x/au9M1CbUX5oqI8u14XEGB8ikzvVdNKuA9n3u38szS7BiSDFyK6BnqFmC4QnPM+u8WWmdG8p15gwMJwwcqPyEi0yidZvkMOjyfIVGqOLpH88wPyEUx80X6rrQdg6iEt5VrNci+dxOaqR56vqD3jHbnwQ/EzLuEQKBgGycquvaVVsrOwGiMmXn8GcrH+6clXYj5BD9B/6LI5nCJQNylgLapv/3+OUSmx+EoFGgfyihucMjC3Ac9iyqLKgCRLeME8POKffPx9SP/RJ15doOoA5I5M2+swKfWezas1jNLGt+BwGak8xYp/4Ft2uMuBI2xNa34zy1Lp7203jbAoGAAtLJsbUPd0NMTs+d6yIVoLRBJ4wkU1pr+6CtHH9sZmFv8ggpOC5/h4KRRXQZLkP/0bCi1yuwgqFhnDu9PYTW31dkmy/wWZrxqf9qCzG+kTlNR59ZMN7fAFYdVX3cwqnVHxilNRbIc0TJLA0W+FgIrfDx86bCSztO/vrlFHpYn1c=\n-----END PRIVATE KEY-----\n
"